1080.zip filter=lfs diff=lfs merge=lfs -text
yolov8m.om filter=lfs diff=lfs merge=lfs -text
yolov8m.pt filter=lfs diff=lfs merge=lfs -text
yolov8n.pt filter=lfs diff=lfs merge=lfs -text
yolov8x.om filter=lfs diff=lfs merge=lfs -text
yolov8x.pt filter=lfs diff=lfs merge=lfs -text
